html {
    font-family: "Verdana", sans-serif;
    background-color: #110921;
}

.home {
    width: 60%;
    margin: auto;
    align-self: center;
}

.drinks {
    width: 60%;
    margin: auto;
    align-self: center;
}

.about {
    width: 60%;
    margin: auto;
    align-self: center;
}

main{
    width: 100%;
    padding-bottom: 3rem;
}

body {
    margin: 0;
}

header {
    display: flex;
    background-color: #110921;
    padding: 1rem;
    width: 100%
}

h1{
    width: 40%;
    padding-left: 2rem;
    line-height: 2.5rem;
    text-align: left;
    text-shadow: 8px 8px 20px #BF267A;
    color:ghostwhite;
    font-size: 4.5rem;
    font-family: "Neonderthaw", sans-serif;
    margin: 0;
    padding-top: 2.5rem
}

nav {
    width: 60%;
    margin: 0;
    padding: 2rem 2rem 0 1rem;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;

}

li a {
    border: 3px solid lightgrey;
    border-radius: 1rem;
    color: lightgrey;
    font-family: "Tilt Neon", sans-serif;
    font-size: 1.3rem;
    display: block;
    text-align: center;
    line-height: 2.5rem;
    text-decoration: none;
    padding: 0 0.5rem 0 0.5rem;
}

li a:hover {
    text-shadow: 2px 2px 4px #127CA6;
    color: ghostwhite;
    box-shadow: 3px 3px 15px #127CA6;
    border-color: ghostwhite;
}

main {
    padding: 1rem 1rem 5rem 1rem;
    display: flex;
}

.about main {
    padding: 1rem;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
}


@keyframes blinking {
    41% {text-shadow: 5px 5px 55px #28ffe6
    }
    42% {text-shadow: 5px 5px 40px #28ffe6}
    43% {text-shadow: 5px 5px 55px #28ffe6}
    44% {text-shadow: 5px 5px 60px #28ffe6}
    45% {text-shadow: 5px 5px 55px #28ffe6}
}

section h2 {
    width: 100%;
    margin-top: 6rem;
    text-align: center;
    font-family: "Tilt Neon", sans-serif;
    font-size: 5rem;
    color: ghostwhite;
    text-shadow: 5px 5px 60px #28ffe6;
    animation: blinking 3s infinite alternate;
}


.home section h3{
    color: #43ffe9;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 0;
    margin-top: 0;
}


.home section p{
    color: #43ffe9;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin:0;
}

.drinks h3 {
    text-align: center;
}

.drinks img{
    margin-left: auto;
    margin-right: auto;
    width:100%;

}

.drinks article p{
    text-wrap: normal;
}

.drinks article {
    width: 50%;
    padding: 1rem;
    box-sizing: border-box;
    color: ghostwhite;
    display: block;
    border: 3px solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #43FFE9;
}

.about article {
    width: 100%;
    padding: 2rem 8rem 2rem 8rem;
    box-sizing: border-box;
    color: ghostwhite;
    text-align: justify;
}


.home img {
    border-radius: 1rem;
    border: 1px dimgrey solid;
    box-shadow: 2px 2px 5px dimgrey;
    width: 100%;
    height: auto;
    margin: 2rem 0 2rem 0;
    align-self: center;
}


footer {
    padding: 1rem 1rem 4rem 1rem;
    text-align: center;
}

footer h3 {
    color: ghostwhite;
}

form {
    width: 30%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 5px #43FFE9;
}
